#exptBox {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;   
}

#instrBox {
  text-align: center;
  z-index: 10;
}

#stim {
  position: relative;
  width: 100%;
  height: 100%;
  display: none; 
}

#lineContainer {
  position: absolute;
  height: 8px; /* line thickness */
  display: block;
  left: 50%;
  transform: translateX(-50%);
}

#line {
  height: 8px;
  width: 100%;
  background: black;
}

#bisectLine {
  position: absolute;
  width: 4px;
  height: 100px;
  background-color: red;
  pointer-events: none;
  z-index: 10;
}

button {
  font-size: 15px;    
  padding: 20px;   
  border-radius: 12px; 
  border: 2px solid #444;
  background-color: #f5f5f5;
  cursor: pointer;
}